<h1>Listing employeeinfos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employeeinfos.each do |employeeinfo| %>
      <tr>
        <td><%= employeeinfo.name %></td>
        <td><%= employeeinfo.email %></td>
        <td><%= employeeinfo.age %></td>
        <td><%= employeeinfo.salary %></td>
        <td><%= employeeinfo.department.name %></td>
        <td><%= link_to 'Show', employeeinfo %></td>
        <td><%= link_to 'Edit', edit_employeeinfo_path(employeeinfo) %></td>
        <td><%= link_to 'Destroy', employeeinfo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employeeinfo', new_employeeinfo_path %>
 <%= link_to 'ordebyage', orderbyage_path %>
  <%= link_to 'ordebysalary', orderbysalary_path %>
  <%= link_to 'retired', retired_path %>
  <%= link_to 'highestsalary', highestsalary_path %>
    <%= link_to 'top5salary', top5salary_path %>
	    <%= link_to 'topsalaryindep', topsalaryindep_path %>

  
 <%= link_to 'highlow', highlow_path %>
  <%= link_to 'top5senior', top5senior_path %>
  <%= link_to 'orderbydepartment', orderbydepartment_path %>